av
openai
#gradio
pyttsx3
python-dotenv
streamlit
ffmpeg
pyaudio
pydub
wave
soundfile
sounddevice
numpy
ffmpeg-python
python-ffmpeg
gTTS
googletrans
audio-recorder-streamlit

#libportaudio-dev
#libasound-dev
#portaudio-devel
#portaudio19-dev
#libportaudio2
#libportaudiocpp0
#libav-tools
#python-pyaudio
#python3-pyaudio
